#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 0;
}
#about-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--display-screen-height);
}
#about-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about-left #circle-image {
    min-height: 100px;
    max-height: 40%;
    max-width: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    box-shadow:
        0 0 5px var(--color-light),
        0 0 10px var(--color-light),
        0 0 20px var(--color-glow),
        0 0 30px var(--color-glow),
        0 0 40px var(--color-glow),
        0 0 50px var(--color-glow);
}
#about-left #circle-image img {
    object-fit: cover;
    width: 100%;
    height: auto;
}
#about-links h1 {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 16px 0 8px 0;
    font-size: 48px;
    color: var(--color-glow);
    text-shadow: 0 0 8px var(--color-dark);
}
#about-links h2 {
    margin: 0;
    font-size: 16px;
    color: var(--color-light);
    text-shadow: 0 0 8px var(--color-dark);
}
#about-links #social-links {
    display: flex;
    flex-direction: row;
    /*width: 100%;*/
    /*justify-content: space-between;*/
    gap: 24px;
    padding-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
}
#about-links #social-links li {
    list-style-type: none;
}
#about-links #social-links li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    font-size: 12px;
    color: var(--color-light);
    text-shadow: 0 0 8px var(--color-dark);
    filter:
        drop-shadow(0px 0px 0px var(--color-bg))
        drop-shadow(0px 0px 0px var(--color-bg))
        drop-shadow(0px 0px 0px var(--color-bg))
        drop-shadow(0px 0px 0px var(--color-bg));
    transition: all 0.3s ease;
}
#about-links #social-links li a:hover {
    color: var(--color-dark);
    filter:
        drop-shadow(0px 0px 5px var(--color-light))
        drop-shadow(0px 0px 10px var(--color-light))
        drop-shadow(0px 0px 20px var(--color-glow))
        drop-shadow(0px 0px 30px var(--color-glow));
    text-shadow: none;
}
#about-links #social-links li a img {
    width: 48px;
    height: 48px;
}
#about-divider {
    display: none;
}
#about-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    padding-left: 48px;
}
#about-right h1 {
    padding-bottom: 8px;
    font-size: 48px;
    color: var(--color-dark);
    text-shadow:
        0 0 5px var(--color-light),
        0 0 10px var(--color-light),
        0 0 20px var(--color-glow);
}
#about-right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    margin: 6px 0;
    color: var(--color-light);
    text-shadow:
        0 0 5px var(--color-dark),
        0 0 20px var(--color-dark);
}

@media (max-width: 768px) {
    #about {
        grid-template-columns: 1fr;
        padding: 0 16px;
    }
    #about-left {
        padding: 16px 0;
    }
    #about-divider {
        display: block;
    }
    #about-right {
        padding-inline: 8px;
        padding-block: 64px;
    }
}
@media (max-width: 768px) and (orientation: landscape) {
    #about-left {
        flex-direction: row;
        gap: 32px;
    }
    #about-left #circle-image {
        max-height: 70%;
    }
}
@media (max-width: 500px) {
    #about-right h1 {
        font-size: 36px;
        text-align: center;
    }
}
@media (min-width: 501px) and (max-width: 768px) {
    #about-right h1 {
        align-self: center;
    }
    #about-right {
        padding-inline: 96px;
    }
}
