#navbar {
    --navbar-side-menu-padding: 16px;
    --navbar-transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
    --color-slider-width: 128px;
    --navbar-side-menu-width: calc(var(--color-slider-width) + 2 * var(--navbar-side-menu-padding));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    justify-content: center;
    background-color: var(--color-dark);
    box-shadow: 0 4px 8px var(--color-dark);
    z-index: 1000;
}
#navbar-hamburger-button {
    display: none;
}
#navbar-hamburger-icon {
    display: none;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    background-color: var(--color-dark);
    box-shadow: 0 0px 8px var(--color-glow);
    border: 2px solid var(--color-light);
    cursor: pointer;
}
#navbar-hamburger-icon span {
    position: absolute;
    width: 60%;
    height: 2px;
    left: 20%;
    background-color: var(--color-light);
    border-radius: 2px;
    transition: all 0.3s ease;
}
#navbar-hamburger-icon span:nth-child(1) {
    top: calc(30% - 1px);
}
#navbar-hamburger-icon span:nth-child(2) {
    top: calc(50% - 1px);
}
#navbar-hamburger-icon span:nth-child(3) {
    top: calc(70% - 1px);
}

#navbar-hamburger-button:checked ~ #navbar-hamburger-icon span:nth-child(1) {
    transform: translateY(5.5px) rotate(45deg);
}

#navbar-hamburger-button:checked ~ #navbar-hamburger-icon span:nth-child(2) {
    opacity: 0;
}

#navbar-hamburger-button:checked ~ #navbar-hamburger-icon span:nth-child(3) {
    transform: translateY(-5.5px) rotate(-45deg);
}

#navbar-side-menu {
    position: fixed;
    top: var(--navbar-height);
    right: 0;
    width: 0;
    height: var(--display-screen-height);
    background-color: var(--color-dark);
    border-top: 2px solid var(--color-glow);
    box-shadow: 0 4px 8px var(--color-dark);
    transition: var(--navbar-transition);
    display: flex;
    flex-direction: column;
}
#navbar-hamburger-button:checked ~ #navbar-side-menu {
    width: var(--navbar-side-menu-width);
}
#navbar-click-blocker {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: 100%;
    height: var(--display-screen-height);
    background-color: var(--color-dark);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}
#navbar-hamburger-button:checked ~ #navbar-click-blocker {
    opacity: 0.5;
    pointer-events: auto;
}
#navbar-content {
    width: var(--max-width);
    display: flex;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
}
#navbar-content a {
    text-decoration: none;
}
#navbar-name {
    color: var(--color-light);
    font-family: 'Outfit', sans-serif;
    transition: all 0.3s ease;
}
#navbar-name:hover {
    text-shadow:
        0 0 5px var(--color-dark),
        0 0 10px var(--color-light),
        0 0 20px var(--color-glow),
        0 0 30px var(--color-glow);
}
#navbar-sections {
    display: flex;
    gap: 16px;
    padding: 0;
    transition: var(--navbar-transition);
}
#navbar-hamburger-button:checked ~ #navbar-sections {
    flex-direction: column;
}
#navbar-sections li {
    list-style-type: none;
}
#navbar-sections a {
    color: var(--color-card);
    text-decoration: none;
    transition: all 0.3s;
}
#navbar-sections a.active {
    color: var(--color-glow);
}
#navbar-sections a:hover {
    color: var(--color-dark);
    text-shadow: 
        0 0 5px var(--color-light),
        0 0 10px var(--color-light),
        0 0 20px var(--color-glow),
        0 0 30px var(--color-glow),
        0 0 40px var(--color-glow),
        0 0 50px var(--color-glow);
}
#navbar-color-slider {
    position: relative;
    width: var(--color-slider-width);
    height: 24px;
    transition: var(--navbar-transition);
}
#navbar-color-slider #hue-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right, 
        oklch(67% 0.1 0),
        oklch(67% 0.1 30),
        oklch(67% 0.1 60),
        oklch(67% 0.1 90),
        oklch(67% 0.1 120),
        oklch(67% 0.1 150),
        oklch(67% 0.1 180),
        oklch(67% 0.1 210),
        oklch(67% 0.1 240),
        oklch(67% 0.1 270),
        oklch(67% 0.1 300),
        oklch(67% 0.1 330),
        oklch(67% 0.1 360)
    );
    border-radius: 4px;
}
#navbar-color-slider #hue-slider {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    background: transparent;
    outline: none;
    margin: 0;
    pointer-events: auto;
    z-index: 1;
}
#navbar-color-slider #hue-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 24px;
    background: var(--color-dark);
    border: 2px solid var(--color-glow);
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #navbar-hamburger-icon {
        display: block;
    }
    #navbar-color-slider {
        position: fixed;
        top: calc(var(--navbar-height) + 24px);
        right: calc(-1 * var(--color-slider-width) - var(--navbar-side-menu-padding));
    }
    #navbar-hamburger-button:checked ~ #navbar-color-slider {
        right: calc(var(--navbar-side-menu-padding));
    }
    #navbar-sections {
        flex-direction: column;
        align-items: end;
        position: fixed;
        top: calc(var(--navbar-height) + 64px);
        right: calc(-1 * var(--navbar-side-menu-width) - var(--navbar-side-menu-padding));
    }
    #navbar-hamburger-button:checked ~ #navbar-sections {
        right: var(--navbar-side-menu-padding);
    }
}
