.section {
    --display-screen-height: calc(100vh - var(--navbar-height));
    min-height: var(--display-screen-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 128px 16px;
    max-width: var(--max-width);
}
.section h1 {
    margin: 0;
    padding-bottom: 64px;
    font-size: 64px;
    color: var(--color-dark);
    text-shadow:
        0 0 5px var(--color-light),
        0 0 10px var(--color-light),
        0 0 20px var(--color-glow);
}
